**1. Write a Python program to convert kilometers to miles?** <br>
A.

In [ ]:
kilometer=float(input("enter the kilometer:"))
kilometertomiles=kilometer*0.621
print("{}km is equal to {} miles".format(kilometer,kilometertomiles))

enter the kilometer:2
2.0km is equal to 1.242 miles

**2. Write a Python program to convert Celsius to Fahrenheit?** <br>
A.

In [ ]:

celsius = int(input("Enter temperature in celsius : "))
Farenheit = (celsius*(9/5))+32
print("{}째 Celsius is Equal to {}째 Farenheit".format(celsius,Farenheit))

Enter temperature in celsius : 50
50째 Celsius is Equal to 122.0째 Farenheit

**3.Write a Python program to display calender ?** <br>
A.

In [ ]:
import calendar
year = int(input("Enter calender year: "))
print(calendar.calendar(year))

Enter calender year: 2025
                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

**4.Write a Python program to solve quadartic equation ?**<br>
A.

In [ ]:
import cmath
import math

def quadarticEquationRoots(a,b,c):
    
    discriminant = b*b-4*a*c
    
    if discriminant == 0:
        r1 = -b/2*a
        r2 = -b/2*a
        print("Roots are Real",r1,r2)
    elif discriminant > 0:
        r1 = (-b-math.sqrt(discriminant))/(2 * a)
        r2 = (-b+math.sqrt(discriminant))/(2 * a)
        print("Roots are Real and different",r1,r2)
    else:
        r1 = (-b-cmath.sqrt(discriminant))/(2 * a)
        r2 = (-b+cmath.sqrt(discriminant))/(2 * a)
        print("Roots are Imaginary",r1,r2)


a = int(input('Enter a value: '))
b = int(input('Enter b value: '))
c = int(input('Enter c value: '))

quadarticEquationRoots(a,b,c)

Enter a value: 1
Enter b value: 2
Enter c value: 3
Roots are Imaginary (-1-1.4142135623730951j) (-1+1.4142135623730951j)

**5.Write a Python program to swap two variables without temp variable ?** <br>
A.

In [ ]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
print('Before Swapping',x,y)
x = x+y
y = x-y
x = x-y
print('before Swapping',x,y)

Enter first number: 21
Enter second number: 25
Before Swapping 21 25
before Swapping 25 21